# Provenance: modeled-from-docs (2026-07-17)
# Source: Kaleyra Developers Hub — https://developers.kaleyra.io/ (llms.txt + reference pages)
# Kaleyra publishes no single downloadable OpenAPI file; this document was modeled
# from the documented REST endpoints, regional hosts, and the `api-key` header auth
# scheme confirmed on developers.kaleyra.io. Confirmed endpoints: SMS/WhatsApp/RCS
# send via POST /v2/{sid}/messages, message status via GET /v2/{sid}/messages,
# OTP via POST /v1/{sid}/verify, click-to-call via POST /v1/{sid}/voice/click-to-call,
# and Kaleyra Video room creation via POST /v2/rooms.
# Kaleyra is a Tata Communications company (acquisition completed 2023-10-05).
openapi: 3.0.3
info:
  title: Kaleyra CPaaS API
  description: >-
    Kaleyra (a Tata Communications company) omnichannel CPaaS REST API for SMS,
    WhatsApp, RCS, Voice, and Verify (OTP), plus the Kaleyra Video REST API.
    Requests authenticate with the `api-key` header and address an account by its
    SID in the URL path. Regional hosts serve India, APAC/SEA, and EU data
    residency.
  termsOfService: https://www.kaleyra.com/terms-conditions/
  contact:
    name: Kaleyra Support
    url: https://support.kaleyra.com/
  version: '2.0'
servers:
  - url: https://api.kaleyra.io
    description: Default / global host
  - url: https://api.in.kaleyra.io
    description: India region (data residency)
  - url: https://api.ap.kaleyra.io
    description: APAC / South East Asia region
  - url: https://api.eu.kaleyra.io
    description: Europe region
security:
  - apiKeyAuth: []
tags:
  - name: Messages
    description: Send SMS, WhatsApp, and RCS messages and read their status.
  - name: Verify
    description: Generate and validate one-time passwords (OTP).
  - name: Voice
    description: Click-to-call and outbound voice.
  - name: Video
    description: Kaleyra Video (WebRTC) room orchestration via REST.
paths:
  /v2/{sid}/messages:
    post:
      operationId: sendMessage
      tags:
        - Messages
      summary: Send an SMS, WhatsApp, or RCS message
      description: >-
        Sends an outbound message on the selected channel. Use the `channel`
        field to select `sms`, `whatsapp`, or `rcs`. For SMS, `type` selects
        MKT (marketing), TXN (transactional), or OTP. Multiple recipients are
        comma-separated in `to`.
      parameters:
        - $ref: '#/components/parameters/Sid'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/SendMessageRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/SendMessageRequest'
      responses:
        '200':
          description: Message accepted for delivery.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
    get:
      operationId: listMessages
      tags:
        - Messages
      summary: Get message logs / delivery status
      description: Retrieves message logs and delivery status for the account.
      parameters:
        - $ref: '#/components/parameters/Sid'
        - name: type
          in: query
          required: false
          schema:
            type: string
            enum: [MKT, TXN, OTP]
        - name: from_date
          in: query
          required: false
          schema:
            type: string
        - name: to_date
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: A list of messages with delivery status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageLogResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v2/{sid}/messages/{message_id}:
    get:
      operationId: getMessageStatus
      tags:
        - Messages
      summary: Get the delivery status of a single message
      parameters:
        - $ref: '#/components/parameters/Sid'
        - name: message_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Status of the requested message.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/{sid}/verify:
    post:
      operationId: generateOtp
      tags:
        - Verify
      summary: Generate and send an OTP
      description: >-
        Generates a one-time password and delivers it to the recipient over the
        configured Verify flow (SMS, WhatsApp, or Voice). Returns a `verify_id`
        used to validate the code.
      parameters:
        - $ref: '#/components/parameters/Sid'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateOtpRequest'
      responses:
        '200':
          description: OTP generated and dispatched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifyResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/{sid}/verify/validate:
    get:
      operationId: validateOtp
      tags:
        - Verify
      summary: Validate a submitted OTP
      description: >-
        Validates the OTP entered by the end user against the `verify_id`
        returned by the generate call.
      parameters:
        - $ref: '#/components/parameters/Sid'
        - name: verify_id
          in: query
          required: true
          schema:
            type: string
        - name: otp
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Validation result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifyResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/{sid}/voice/click-to-call:
    post:
      operationId: clickToCall
      tags:
        - Voice
      summary: Initiate a click-to-call bridged voice call
      description: >-
        Places an outbound call to `from`, then dials `to` and bridges the two
        legs over the caller ID / bridge number.
      parameters:
        - $ref: '#/components/parameters/Sid'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ClickToCallRequest'
      responses:
        '200':
          description: Call initiated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoiceResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v2/rooms:
    post:
      operationId: createVideoRoom
      tags:
        - Video
      summary: Create a Kaleyra Video room
      description: >-
        Creates a Kaleyra Video (WebRTC) room and returns join details for the
        listed participants. V1 accounts use POST /room/create.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRoomRequest'
      responses:
        '201':
          description: Room created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoomResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: api-key
      description: API key generated in the kaleyra.io console (e.g. "Ac4XXXXX21f").
  parameters:
    Sid:
      name: sid
      in: path
      required: true
      description: Account SID (Security Identifier) issued by kaleyra.io.
      schema:
        type: string
  responses:
    BadRequest:
      description: The request was malformed or missing required fields.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Missing or invalid api-key header.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    SendMessageRequest:
      type: object
      required:
        - to
        - sender
      properties:
        to:
          type: string
          description: Recipient MSISDN(s), comma-separated for multiple numbers.
          example: '919XXXXXXXXX'
        sender:
          type: string
          description: Registered sender ID.
        body:
          type: string
          description: Message text (SMS/RCS) or template body.
        channel:
          type: string
          enum: [sms, whatsapp, rcs]
          default: sms
        type:
          type: string
          enum: [MKT, TXN, OTP]
          description: SMS category (India DLT-aware).
        template_id:
          type: string
          description: Approved template ID (required for some channels/regions).
        callback_url:
          type: string
          format: uri
    MessageResponse:
      type: object
      properties:
        id:
          type: string
        status:
          type: string
        channel:
          type: string
        recipient:
          type: string
    MessageLogResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/MessageResponse'
    GenerateOtpRequest:
      type: object
      required:
        - to
      properties:
        to:
          type: string
          description: Recipient MSISDN.
        flow_id:
          type: string
          description: Configured Verify flow / template ID.
        sender:
          type: string
    VerifyResponse:
      type: object
      properties:
        verify_id:
          type: string
        status:
          type: string
        valid:
          type: boolean
    ClickToCallRequest:
      type: object
      required:
        - from
        - to
      properties:
        from:
          type: string
          description: First leg number (called first).
        to:
          type: string
          description: Second leg number, bridged after the first answers.
        caller_id:
          type: string
        callback_url:
          type: string
          format: uri
    VoiceResponse:
      type: object
      properties:
        id:
          type: string
        status:
          type: string
    CreateRoomRequest:
      type: object
      required:
        - participants
      properties:
        participants:
          type: array
          items:
            type: string
        recording:
          type: string
          enum: [none, automatic, manual]
        tools:
          type: array
          items:
            type: string
    RoomResponse:
      type: object
      properties:
        room_id:
          type: string
        room_url:
          type: string
          format: uri
        participants:
          type: array
          items:
            type: string
    Error:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
